.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text {
  margin: 0 5px 15px 0;
  color:#F2F2F3;
  filter: drop-shadow(0 4px 32px rgba(51, 51, 255, 0.5));
  padding: 0;
}

.spinner {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.spinner:after {
  animation: changeContent .8s linear infinite;
  display: block;
  content: "⠋";
  font-size: 50px;
}

@keyframes changeContent {
  10% { content: "⠙"; }
  20% { content: "⠹"; }
  30% { content: "⠸"; }
  40% { content: "⠼"; }
  50% { content: "⠴"; }
  60% { content: "⠦"; }
  70% { content: "⠧"; }
  80% { content: "⠇"; }
  90% { content: "⠏"; }
}
