.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.image {
  width: 240px;
  height: 120px;
  margin: 0 16px;
}

.counter {
  position: relative;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4px 0;
}

.cost {
  margin-right: 9px;
}

.name {
  text-align: center;
  vertical-align: top;
  margin-bottom: 30px;
}
