.cardOrder {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0;
  margin: 24px 24px;
}

.numberOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.idOrder {
  color: #F2F2F3;
}

.burgerName {
  color: #F2F2F3;
}

.statusOrder {
  color: #F2F2F3;
  margin: 8px 0 24px 0;
}

.ingredients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filling {
  list-style: none;
}

.cellPrice {
  display: flex;
  flex-direction: row;
}

.cell {
  color: #F2F2F3;
}
