.filling {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 64px;
  height: 64px;
  background:
  linear-gradient(#1C1C21, #1C1C21) padding-box,
  linear-gradient(#0B0E7F 0%, #0B95DD 100%) border-box;
  border: 2px solid transparent;
  border-radius:50px;
  display:inline-block;
}

.filling_pozition {
  left: -20px;
}

.count {
  position: absolute;
  top: 32px;
  left: 32px;
  transform: translate(-50%, -50%);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
