.feed {
  max-width: 600px;
  /* justify-self: end; */
}

.title {
  margin-bottom: 20px;
}

.orders {
  max-height: calc(100vh - 310px);
  overflow-y: scroll;
}

.orders::-webkit-scrollbar {
  width: 8px;
  height: 492px;
}

.orders::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.orders::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
