.ingredientDetails {
  background-color: #1C1C21;
  border-radius: 40px;
  margin: auto 0;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 60px 0;
  z-index: 3;
}

.headerDetails {
  display: flex;
  width: 640px;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 40px;
}

.headerText {
  margin: 0;
  color:#F2F2F3;
  padding: 0;
}

.closeButton {
  cursor: pointer;
}

.image {
  width: 480px;
  height: 240px;
  margin: 0 20px;
}

.name {
  color:#F2F2F3;
  margin: 16px 0 32px 0;
}

.items {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item:nth-last-child(n+2) {
  margin-right: 20px;
}

.count {
  margin: 8px 0 0 0;
}
