.burgerIngredients{
  min-width: 600px;
}

.burgerIngredients__title {
  margin-bottom: 20px;
}

.burgerIngredients__ingredient {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.burgerIngredients__item {
	list-style: none;
}
